*{
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Nenhum elemento ultrapasse elemento pai*/

}

body{
    background-color: black;
    color:white;
    
}

a {
    text-decoration: none;
    color:#d3d93b;
    transition: .5s;

}

a:hover {
    color: #eaf204;
}